body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border:2px solid cornflowerblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container:hover{
    box-shadow: 0px 0px 5px black;
    transform: scale(1.01);
    transition: 1s;
}

h2 {
    text-align: center;
    /* color: #333; */
    color:crimson;
    font-size: 33px;
    letter-spacing: 1px;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}
form input:hover{
    box-shadow: 0px 0px 5px black;
}

form button {
    background-color: #4CAF50;
    box-shadow: 0px 0px 5px black;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

button.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}

button.delete-btn:hover {
    background-color: #d32f2f;
}